.container {
  width: 100%;
  flex-grow: 1;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0 0 70px;
  background-image: $main-gradient;
  margin-left: 0;
  margin-right: 0;

  @media (max-width: 1230px) {
    padding: 0 70px;
  }

  @media (max-width: 540px) {
    padding: 0 30px;
   }
}
